<h1>About Shareit</h1>

<p><strong>Shareit is a simple community discussion site</strong> with a responsive design suitable for mobile use. Features include multiple user levels, topics, posts, comments, favoriting of posts, and voting.</p>

<ul>
<li>Visitors: Can browse and read discussion topics, posts, and comments</li>
<li>Members: Can also create posts and comments, and can edit &amp; delete the posts and comments which they created</li>
<li>Administrators: Can also create topics and delete any content</li>
</ul>

<p><em>Please sign up for an account and create new Posts and/or Comments!</em></p>

<p></p>
<blockquote>
  <p style="font-size: 60%">Copyright &copy;
    2017
  Daniela Sannino</p>
</blockquote>
