<br>
<div class="jumbotron">
  <h1>Shareit</h1>
  <p>Shareit is for sharing messages & information with your friends, and it's also a great way of making <em>new</em> friends!</p>
  <p>
    <% unless current_user %>
      <%= link_to "Sign In", new_session_path %> or
      <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
    <% end %>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Share information</h2>
    <p>Post to Shareit to engage in conversation with others in this community. Share your feedback with comments on other member's posts.</p>
  </div>
  <div class="col-md-4">
    <h2>Vote for posts you like</h2>
    <p>Don't have time to give detailed feedback? Use the Vote feature (up or down) on posts.</p>
  </div>
  <div class="col-md-4">
    <h2>Save Favorites</h2>
    <p>Shareit's Favorite feature makes it easy to save favorite posts from others to your personal list of Favorites so you can access it later on!.</p>
  </div>
</div>
